---
import i18next, { t } from "i18next";
import { localizePath } from "astro-i18next";
import { TrashIcon, PlusIcon } from "@heroicons/react/16/solid";
import { HeadHrefLangs, LanguageSelector } from "astro-i18next/components";
import "@styles/base.css";
interface Props {
  title: string;
  bodyClass?: string;
}

const { title, bodyClass = "" } = Astro.props;
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content={t("about.about_confessit_text").replace(/<\/?\d+>/g, "")}
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <HeadHrefLangs />
  </head>
  <body class={bodyClass}>
    <div class="navbar h-16 bg-base-300 text-base-content">
      <div class="navbar-start">
        <!-- On small screens, show a dropdown menu -->
        <details class="dropdown">
          <summary class="btn btn-ghost lg:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16"></path>
            </svg>
          </summary>
          <ul
            class="menu menu-lg dropdown-content bg-base-200 rounded-box z-[100] mt-3 w-56 p-4 shadow"
          >
            <li>
              <a href={localizePath("/prayers")}>{t("navbar.prayers")}</a>
            </li>
            <li>
              <a href={localizePath("/about")}>{t("navbar.about")}</a>
            </li>
            <li>
              <a href={localizePath("/help")}>{t("navbar.help")}</a>
            </li>
            <li>
              <LanguageSelector
                showFlag={true}
                class="select select-sm text-xs select-bordered mt-8 py-1 w-42 font-noto"
                languageMapping={{ "pt-BR": "Português" }}
              />
            </li>
          </ul>
        </details>

        <a class="btn btn-ghost text-2xl" href={localizePath("/")}
          >⛪ ConfessIt</a
        >

        <!-- On large screens, show a menu -->
        <div class="hidden lg:flex">
          <ul class="menu menu-horizontal px-1 gap-1 text-lg">
            <li>
              <a href={localizePath("/prayers")}>{t("navbar.prayers")}</a>
            </li>
            <li><a href={localizePath("/about")}>{t("navbar.about")}</a></li>
            <li><a href={localizePath("/help")}>{t("navbar.help")}</a></li>
          </ul>
        </div>
      </div>

      <div class="navbar-end">
        <!-- On large screens, show a menu -->
        <div class="flex gap-4">
          <LanguageSelector
            showFlag={true}
            class="hidden lg:inline-flex select select-bordered w-36 font-noto"
            languageMapping={{ "pt-BR": "Português" }}
          />

          {
            (Astro.url.pathname == localizePath("/") ||
              Astro.url.pathname == `${localizePath("/")}/`) && (
              <button
                id="add-sin-button"
                class="btn btn-secondary"
                title={t("addbutton.add-custom-sin")}
                onclick="AddSinModal.showModal()"
              >
                <PlusIcon className="h-5" />
              </button>
            )
          }

          {
            (Astro.url.pathname == localizePath("/") ||
              Astro.url.pathname == `${localizePath("/")}/`) && (
              <button
                id="clear-button"
                class="btn btn-accent"
                title={t("navbar.clear")}
              >
                <TrashIcon className="h-5" />
              </button>
            )
          }
        </div>
      </div>
    </div>

    <slot />

    <script>
      const clearButton = document.getElementById("clear-button");
      if (clearButton) {
        clearButton.addEventListener("click", () => {
          const event = new CustomEvent("clearButtonClicked");
          window.dispatchEvent(event);
        });
      }
    </script>
  </body>
</html>
