---
import i18next, { t } from "i18next";
import { localizePath } from "astro-i18next";
import { TrashIcon, PlusIcon } from "@heroicons/react/16/solid";
import { HeadHrefLangs, LanguageSelector } from "astro-i18next/components";
import "@styles/base.css";
interface Props {
  title: string;
  bodyClass?: string;
}

const { title, bodyClass = "" } = Astro.props;
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content={t("about.about_confessit_text").replace(/<\/?vatican>/g, "")}
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <HeadHrefLangs />

    <!-- Temp! Only for dev for now, to experiment with colors -->
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"
    ></script>
  </head>
  <body class={bodyClass}>
    <div class="navbar h-16 bg-primary text-primary-content">
      <div class="navbar-start">
        <!-- On small screens, show a dropdown menu -->
        <details class="dropdown">
          <summary class="btn btn-ghost lg:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16"></path>
            </svg>
          </summary>
          <ul
            class="menu menu-md dropdown-content bg-base-200 rounded-box z-[100] mt-3 w-56 p-4 shadow"
          >
            <li>
              <a
                href={localizePath("/prayers")}
                class="btn btn-secondary text-lg btn-block my-2"
                >{t("navbar.prayers")}</a
              >
            </li>
            <li>
              <a
                href={localizePath("/about")}
                class="btn btn-secondary text-lg btn-block my-2"
                >{t("navbar.about")}</a
              >
            </li>
            <li>
              <a
                href={localizePath("/help")}
                class="btn btn-secondary text-lg btn-block my-2"
                >{t("navbar.help")}</a
              >
            </li>
            <li>
              <a
                href={localizePath("#")}
                class="btn btn-secondary text-lg btn-block my-2"
                >{t("navbar.clear")}</a
              >
            </li>
          </ul>
        </details>

        <a class="btn btn-ghost text-2xl" href={localizePath("/")}
          >⛪ ConfessIt</a
        >

        <!-- On large screens, show a menu -->
        <div class="hidden lg:flex">
          <ul class="menu menu-horizontal px-1 gap-1 text-lg">
            <li>
              <a href={localizePath("/prayers")}>{t("navbar.prayers")}</a>
            </li>
            <li><a href={localizePath("/about")}>{t("navbar.about")}</a></li>
            <li><a href={localizePath("/help")}>{t("navbar.help")}</a></li>
          </ul>
        </div>
      </div>

      <div class="navbar-end">
        <!-- On large screens, show a menu -->
        <div class="hidden lg:flex">
          <ul class="menu menu-horizontal px-1 gap-4 text-lg">
            <!-- During Dev Only: Theme Changer for experimenting with colors -->
            <li>
              <select
                data-choose-theme
                class="select select-bordered bg-primary text-primary-content w-36"
              >
                <option value="retro">Retro</option>
                <option value="valentine">Valentine</option>
                <option value="lemonade">Lemonade</option>
                <option value="nord">Nord</option>
                <option value="night">Night</option>
                <option value="dracula">Dracula</option>
                <option value="dim">Dim</option>
                <option value="confessit">ConfessIt</option>
                <option value="confessitretro">ConfessIt Retro</option>
                <option value="iconfess">iConfess</option>
              </select>
            </li>

            <li>
              <LanguageSelector
                showFlag={true}
                class="select select-bordered bg-primary text-primary-content w-36"
              />
            </li>
            {
              Astro.url.pathname == "/" && (
                <li>
                  <button
                    id="add-sin-button"
                    class="btn btn-secondary"
                    title={t("addbutton.add-custom-sin")}
                    onclick="AddSinModal.showModal()"
                  >
                    <PlusIcon className="h-5" />
                  </button>
                </li>
              )
            }
            {
              Astro.url.pathname == "/" && (
                <li>
                  <button
                    id="clear-button"
                    class="btn btn-error"
                    title={t("navbar.clear")}
                  >
                    <TrashIcon className="h-5" />
                  </button>
                </li>
              )
            }
          </ul>
        </div>
      </div>
    </div>

    <slot />

    <script>
      const clearButton = document.getElementById("clear-button");
      clearButton.addEventListener("click", () => {
        const event = new CustomEvent("clearButtonClicked");
        window.dispatchEvent(event);
      });

      // const addSinButton = document.getElementById("add-sin-button");
      // addSinButton.addEventListener("click", () => {
      //   const event = new CustomEvent("addSinButtonClicked");
      //   window.dispatchEvent(event);
      // });
    </script>
  </body>
</html>
