---
import i18next, { t } from "i18next";
import { localizePath } from "astro-i18next";
import { TrashIcon, PlusIcon } from "@heroicons/react/16/solid";
import { HeadHrefLangs, LanguageSelector } from "astro-i18next/components";

import "@styles/base.css";
interface Props {
  title: string;
  bodyClass?: string;
}

const { title, bodyClass = "" } = Astro.props;
const cannonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content={t("about.about_confessit_text").replace(/<\/?\d+>/g, "")}
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="192x192" href="/logo192.png" />
    <link rel="apple-touch-icon" sizes="512x512" href="/logo512.png" />
    <meta name="msapplication-TileColor" content="#dcbda9" />
    <meta name="theme-color" content="#dcbda9" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link rel="canonical" href={cannonicalUrl} />
    <HeadHrefLangs />

    <script src="/src/pwa.ts"></script>
    <link rel="manifest" href="/manifest.json" />

    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body class={bodyClass}>
    <div class="navbar h-16 bg-base-300 text-base-content">
      <div class="navbar-start">
        <!-- On small screens, show a dropdown menu -->
        <details class="dropdown">
          <summary class="btn btn-ghost lg:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16"></path>
            </svg>
          </summary>
          <ul
            class="menu menu-lg dropdown-content bg-base-200 rounded-box z-100 mt-3 w-56 p-4 shadow"
          >
            <li>
              <a href={localizePath("/prayers")}>{t("navbar.prayers")}</a>
            </li>
            <li>
              <details>
                <summary>{t("navbar.about")}</summary>
                <ul class="p-2">
                  <li><a href={localizePath("/about")}>ConfessIt</a></li>
                  <li>
                    <a href={localizePath("/about-confession")}
                      >{t("navbar.confession")}</a
                    >
                  </li>
                  <li>
                    <a href={localizePath("/about-confessit-android")}
                      >{t("navbar.confessit_android")}</a
                    >
                  </li>
                </ul>
              </details>
            </li>
            <li>
              <a href={localizePath("/help")}>{t("navbar.help")}</a>
            </li>
            <li>
              <LanguageSelector
                showFlag={true}
                class="select select-sm text-xs select-bordered mt-8 py-1 w-42 font-noto"
                languageMapping={{ "pt-BR": "Português" }}
              />
            </li>
          </ul>
        </details>

        {/* Use h1 only on the homepage (SEO) */}
        {
          (Astro.url.pathname == localizePath("/") ||
            Astro.url.pathname == `${localizePath("/")}/`) && (
            <h1>
              <a class="btn btn-ghost text-2xl" href={localizePath("/")}>
                ⛪ ConfessIt
              </a>
            </h1>
          )
        }
        {
          Astro.url.pathname != localizePath("/") &&
            Astro.url.pathname != `${localizePath("/")}/` && (
              <a class="btn btn-ghost text-2xl" href={localizePath("/")}>
                ⛪ ConfessIt
              </a>
            )
        }

        <!-- On large screens, show a menu -->
        <div class="hidden lg:flex z-50">
          <ul class="menu menu-horizontal px-1 gap-1 text-lg">
            <li>
              <a href={localizePath("/prayers")}>{t("navbar.prayers")}</a>
            </li>
            <li>
              <details>
                <summary>{t("navbar.about")}</summary>
                <ul class="bg-base-200 rounded-t-none p-2 w-60">
                  <li><a href={localizePath("/about")}>ConfessIt</a></li>
                  <li>
                    <a href={localizePath("/about-confession")}
                      >{t("navbar.confession")}</a
                    >
                  </li>
                  <li>
                    <a href={localizePath("/about-confessit-android")}
                      >{t("navbar.confessit_android")}</a
                    >
                  </li>
                </ul>
              </details>
            </li>
            <li><a href={localizePath("/help")}>{t("navbar.help")}</a></li>
          </ul>
        </div>
      </div>

      <div class="navbar-end">
        <!-- On large screens, show a menu -->
        <div class="flex gap-4">
          <LanguageSelector
            showFlag={true}
            class="hidden lg:inline-flex select select-bordered w-36 font-noto"
            languageMapping={{ "pt-BR": "Português" }}
          />

          {
            (Astro.url.pathname == localizePath("/") ||
              Astro.url.pathname == `${localizePath("/")}/`) && (
              <button
                id="add-sin-button"
                class="btn btn-secondary"
                title={t("addbutton.add-custom-sin")}
                onclick="AddSinModal.showModal()"
              >
                <PlusIcon className="h-5" />
              </button>
            )
          }

          {
            (Astro.url.pathname == localizePath("/") ||
              Astro.url.pathname == `${localizePath("/")}/`) && (
              <button
                id="clear-button"
                class="btn btn-accent"
                title={t("navbar.clear", "Clear")}
              >
                <TrashIcon className="h-5" />
              </button>
            )
          }
        </div>
      </div>
    </div>

    <slot />

    <script>
      const clearButton = document.getElementById("clear-button");
      if (clearButton) {
        clearButton.addEventListener("click", () => {
          const event = new CustomEvent("clearButtonClicked");
          window.dispatchEvent(event);
        });
      }
    </script>
  </body>
</html>
